.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    margin-top: -12px;
    font-family: 'Segoe UI'; 
}

.centertext {
    display: flex;
    justify-content: center;
}

.border {
    border: 7px solid white;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.white {
    color: white;
}

body {
    background-color: black;
}

.big {
    font-size: 50px;
}